/*颜色参数*/
/*深蓝：#2851a1*/
body{
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}
.nav-bar{
    background: #fff;
}
header .logo{
    /*background: #2851a1;*/
    /*color: #fff;*/
    height: 20px;
}
header a{
    color: #2851a1;
}
header>a:hover,
header>a:active{
    color: #2851a1;
}

footer{
    width: 100%;
    height: 60px;
    background: #6d6d6d;
    position: absolute;
    bottom: 0;
}
/*****首页类******/
.default-part1{
    height: 380px;
    background: #2851a1;
    margin-bottom: 0;
}
.aboutus-title,.partner-title,.contact-title{
    height: 60px;
    text-align: center;
    line-height: 60px ;
    font-size: 28px;
}
.aboutus-title{
    color: #2851a1;
    background: #c4c4c4;
}
.aboutus-box{
    height: 420px;
    background: #dedede;
}
.partner-title{
    background: #2851a1;
    color: #fff;
}
.partner-box{
    height: 200px;
    background: #ffb544;
}

.contact-title{
    background: #fff;
    color: #2851a1;
}
.contact-box{
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
}
.contact-box .contact-form{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.contact-box .contact-form .mui-textfield{
    margin:10px;
}
.contact-box .contact-form .contact-sub{
    width: 200px;
}
/*产品页面*/
.product-box{
    width: 100%;
    background: #272c40;
}
.product-part1{
    height: 200px;
    background: #4a71d0;
}
.product-title{
    height: 60px;
    background: #fff;
    color: #4a71d0;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
}
.product-part2-chart{

    min-height: 300px;
    width: 800px;
    margin: 0 auto;
}
.product-part2-table{

    background: #2851a1;
}
.product-part2-table .table-content{
    width: 1000px;
    margin: 0 auto;
    color: #fff;
}
