<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>丰润恒道</title>

    <link href="../css/mui.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../fonts/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>
<body>
<!--导航-->
<header class=" nav-bar">
    <div class="mui-container">
        <table width="100%">
            <tr class="mui--appbar-height">
                <td class="mui--text-title logo">LOGO</td>
                <td align="right">
                    <ul class="mui-list--inline mui--text-body2">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">走进丰润</a></li>
                        <li><a href="#">丰润产品</a></li>
                        <li><a href="#">投资理念</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</header>
<!--part1-->
<div class="first-part"></div>
<section class="information">
    <div class="common">
        <aside class="info-block">北京丰润恒道投资管理有限公司(简称“丰润恒道投资”)注册资本金3000万人民币，是一家创新型的资产管理公司。丰润恒道投资由国内量化领域资深专业人士发起。公司致力于开发数量化的对冲基金策略，大量利用计算机系统，为投资人提供稳健的绝对回报。</aside>
        <aside class="info-block">
            丰润恒道投资致力于吸收和引进全球领先金融机构在量化投资领域的成熟经验和技术，结合中国市场的实际情况，探索研究适合中国资本市场特色的量化投资领域的投资策略、研发体系、风控体系和交易体系，致力于成为国内量化投资领域的品牌企业。
        </aside>
        <aside class="info-block">公司致力于数量化投资策略的研究，测试，及运行和管理。公司员工绝大多数均毕业于国内外最著名的高等院校，致力于利用统计学原理来研究金融市场，通过先进的科学技术为投资者盈利，成为我国市场上在无论业绩还是规模上都领先的对冲基金。</aside>
    </div>
</section>
<!--part2-->
<div class="title-block aboutus-title">公司历程<span>sssss</span></div>
<section class="time-line">
    <div class="common"></div>
</section>
<!--part3-->
<div class="title-block team-title">
    投研团队<span>TEAM</span>
</div>
<section class="common team">
    <aside class="team-list">
        <img src="../img/information/team-yf.png">
        <div class="team-list-info team-list-info-y">
            <h1>杨丰<span>投资总监</span></h1>
            <p>投资总监，国际投资分析师，美国管理会计师，国际注册内审师，中国人民大学金融学硕士，曾任国家开发投资公司旗下投资子公司投资总监负责公司自营头寸管理，中国人民大学国际货币研究所研究员，第一财经研究员特约研究员，主要研究和交易领域为程序化交易与量化选股交易，负责公司投资决策，对资产配置有深刻理解，管理多只基金，连续多年实现稳健回报，基金年化收益超过20%，夏普比率超过3。</p>
        </div>
    </aside>
    <aside class="team-list">
        <img src="../img/information/team-yf.png">
        <div class="team-list-info team-list-info-b">
            <h1>杨丰<span>投资总监</span></h1>
            <p>投资总监，国际投资分析师，美国管理会计师，国际注册内审师，中国人民大学金融学硕士，曾任国家开发投资公司旗下投资子公司投资总监负责公司自营头寸管理，中国人民大学国际货币研究所研究员，第一财经研究员特约研究员，主要研究和交易领域为程序化交易与量化选股交易，负责公司投资决策，对资产配置有深刻理解，管理多只基金，连续多年实现稳健回报，基金年化收益超过20%，夏普比率超过3。</p>
        </div>
    </aside>
    <aside class="team-list">
        <img src="../img/information/team-yf.png">
        <div class="team-list-info team-list-info-y">
            <h1>杨丰<span>投资总监</span></h1>
            <p>投资总监，国际投资分析师，美国管理会计师，国际注册内审师，中国人民大学金融学硕士，曾任国家开发投资公司旗下投资子公司投资总监负责公司自营头寸管理，中国人民大学国际货币研究所研究员，第一财经研究员特约研究员，主要研究和交易领域为程序化交易与量化选股交易，负责公司投资决策，对资产配置有深刻理解，管理多只基金，连续多年实现稳健回报，基金年化收益超过20%，夏普比率超过3。</p>
        </div>
    </aside>
    <aside class="team-list">
        <img src="../img/information/team-yf.png">
        <div class="team-list-info team-list-info-b">
            <h1>杨丰<span>投资总监</span></h1>
            <p>投资总监，国际投资分析师，美国管理会计师，国际注册内审师，中国人民大学金融学硕士，曾任国家开发投资公司旗下投资子公司投资总监负责公司自营头寸管理，中国人民大学国际货币研究所研究员，第一财经研究员特约研究员，主要研究和交易领域为程序化交易与量化选股交易，负责公司投资决策，对资产配置有深刻理解，管理多只基金，连续多年实现稳健回报，基金年化收益超过20%，夏普比率超过3。</p>
        </div>
    </aside>
    <aside class="team-list">
        <img src="../img/information/team-yf.png">
        <div class="team-list-info team-list-info-y">
            <h1>杨丰<span>投资总监</span></h1>
            <p>投资总监，国际投资分析师，美国管理会计师，国际注册内审师，中国人民大学金融学硕士，曾任国家开发投资公司旗下投资子公司投资总监负责公司自营头寸管理，中国人民大学国际货币研究所研究员，第一财经研究员特约研究员，主要研究和交易领域为程序化交易与量化选股交易，负责公司投资决策，对资产配置有深刻理解，管理多只基金，连续多年实现稳健回报，基金年化收益超过20%，夏普比率超过3。</p>
        </div>
    </aside>
    <aside class="team-list">
        <img src="../img/information/team-yf.png">
        <div class="team-list-info team-list-info-b">
            <h1>杨丰<span>投资总监</span></h1>
            <p>投资总监，国际投资分析师，美国管理会计师，国际注册内审师，中国人民大学金融学硕士，曾任国家开发投资公司旗下投资子公司投资总监负责公司自营头寸管理，中国人民大学国际货币研究所研究员，第一财经研究员特约研究员，主要研究和交易领域为程序化交易与量化选股交易，负责公司投资决策，对资产配置有深刻理解，管理多只基金，连续多年实现稳健回报，基金年化收益超过20%，夏普比率超过3。</p>
        </div>
    </aside>
    <aside class="team-list">
        <img src="../img/information/team-yf.png">
        <div class="team-list-info team-list-info-y">
            <h1>杨丰<span>投资总监</span></h1>
            <p>投资总监，国际投资分析师，美国管理会计师，国际注册内审师，中国人民大学金融学硕士，曾任国家开发投资公司旗下投资子公司投资总监负责公司自营头寸管理，中国人民大学国际货币研究所研究员，第一财经研究员特约研究员，主要研究和交易领域为程序化交易与量化选股交易，负责公司投资决策，对资产配置有深刻理解，管理多只基金，连续多年实现稳健回报，基金年化收益超过20%，夏普比率超过3。</p>
        </div>
    </aside>
    <aside class="team-list">
        <img src="../img/information/team-yf.png">
        <div class="team-list-info team-list-info-b">
            <h1>杨丰<span>投资总监</span></h1>
            <p>投资总监，国际投资分析师，美国管理会计师，国际注册内审师，中国人民大学金融学硕士，曾任国家开发投资公司旗下投资子公司投资总监负责公司自营头寸管理，中国人民大学国际货币研究所研究员，第一财经研究员特约研究员，主要研究和交易领域为程序化交易与量化选股交易，负责公司投资决策，对资产配置有深刻理解，管理多只基金，连续多年实现稳健回报，基金年化收益超过20%，夏普比率超过3。</p>
        </div>
    </aside>
</section>
<!--part4-->
<section class="joinus">
    <div class="title-block">招贤纳士<span>JOIN US</span></div>
</section>
<!--footer-->
<footer></footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
</body>
</html>