<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>丰润恒道</title>

    <link href="../css/mui.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../fonts/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
</head>
<body>
<!--导航-->
<header class="mui-appbar mui--z1 nav-bar">
    <div class="mui-container">
        <table width="100%">
            <tr class="mui--appbar-height">
                <td class="mui--text-title logo">LOGO</td>
                <td align="right">
                    <ul class="mui-list--inline mui--text-body2">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">走进丰润</a></li>
                        <li><a href="#">丰润产品</a></li>
                        <li><a href="#">投资理念</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</header>
<div class="first-part"></div>
<!--part1-->
<div class="idea-part1">
    <section class="common">
        <div class="idea-part1-title">量&nbsp;&nbsp;&nbsp;化&nbsp;&nbsp;&nbsp;投&nbsp;&nbsp;&nbsp;资</div>
        <p class="idea-part1-txt">量化投资借鉴自然科学的研究方法和工程技术的实现手段，发现和挖掘金融市场中不被大多数交易参与者关注的市场效率缺陷，专业从事模型驱动的计算机程序化交易，获取海量极短周期风险敞口换来的统计意义上的高收益。</p>
    </section>
</div>
<!--part2-->
<div class="idea-part2">
    <section class="common compare">
        <div class="title-block compare-title">
            <span style="float: left">量化投资</span>
            <span style="float: right">传统投资</span>
        </div>
        <ul>
            <li style="background: url('../img/invest/invest-1.png') center no-repeat;background-size: contain;">
                <span style="float: left">资金平稳波动</span>
                <span style="float: right">资金平稳波动</span>
            </li>
            <li style="background: url('../img/invest/invest-2.png') center no-repeat;background-size: contain;">
                <span style="float: left">资金平稳波动</span>
                <span style="float: right">资金平稳波动</span>
            </li>
            <li style="background: url('../img/invest/invest-3.png') center no-repeat;background-size: contain;">
                <span style="float: left">资金平稳波动</span>
                <span style="float: right">资金平稳波动</span>
            </li>
            <li style="background: url('../img/invest/invest-4.png') center no-repeat;background-size: contain;">
                <span style="float: left">资金平稳波动</span>
                <span style="float: right">资金平稳波动</span>
            </li>
            <li style="background: url('../img/invest/invest-5.png') center no-repeat;background-size: contain;">
                <span style="float: left">资金平稳波动</span>
                <span style="float: right">资金平稳波动</span>
            </li>

        </ul>
    </section>
</div>
<!--part3-->
<div class="ourinvest-box">
    <div class="title-block">我们的量化投资<span>OUR INVEST</span></div>
    <section class="common" style="height: 340px">
        <aside class="invest-ways">
            <img src="../img/invest/board.png">
            <h1>自然科学的研究方法</h1>
            <p>一切市场行为的背后都有一定的规律，利用自然科学的方法可以准确的刻画市场规律。</p>
        </aside>
        <aside class="invest-ways">
            <img src="../img/invest/clock.png">
            <h1>自然科学的研究方法</h1>
            <p>一切市场行为的背后都有一定的规律，利用自然科学的方法可以准确的刻画市场规律。</p>
        </aside>
        <aside class="invest-ways">
            <img src="../img/invest/hands.png">
            <h1>自然科学的研究方法</h1>
            <p>一切市场行为的背后都有一定的规律，利用自然科学的方法可以准确的刻画市场规律。</p>
        </aside>
    </section>
    <section class="invest-steps">
        <h2>量化对冲步骤</h2>
        <p>第一步，量化选股——精选股票组合，获取超额收益。</p>
        <p>第二步，期货对冲——做空股指期货，对冲系统性风险。</p>
    </section>

</div>
<!--part4-->
<div class="idea-part4">
    <section class="common">
        <aside class="invest-circle">
            <h1>价值投资</h1>
            <p>投资于定价合理或被低估的杰出公司。</p>
        </aside>
        <aside class="invest-circle">
            <h1>价值投资</h1>
            <p>投资于定价合理或被低估的杰出公司。</p>
        </aside>
        <aside class="invest-circle">
            <h1>价值投资</h1>
            <p>投资于定价合理或被低估的杰出公司。</p>
        </aside>
    </section>
</div>
<!--part5-->
<div class="idea-part5">
    <div class="title-block">择时思路<span>ssssssss</span></div>
    <section class="common">
        <aside class="char-box">
            <img src="../img/invest/arrow.png">
            <h1>趋势跟随</h1>
            <p>在趋势产生的时候进场，捕捉大幅的价格变动</p>
        </aside>
        <aside class="char-box">
            <img src="../img/invest/dollar.png">
            <h1>趋势跟随</h1>
            <p>在趋势产生的时候进场，捕捉大幅的价格变动</p>
        </aside>
        <aside class="char-box">
            <img src="../img/invest/circles.png">
            <h1>趋势跟随</h1>
            <p>在趋势产生的时候进场，捕捉大幅的价格变动</p>
        </aside>
    </section>
</div>
<!--footer-->
<footer></footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
</body>
</html>